<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Customers Count</div>
                <div class="panel-body">
                    <h1>{{ totalCustomersCount }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">Total Orders Count</div>
                <div class="panel-body">
                    <h1>{{ totalOrdersCount }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
</body>
</html>